extends layout/main_layout.pug

block head
    title Toxin Landing Page
block content 
    img.first-screen__background(src=require("../assets/img/background-2.png"), alt="")
    form.landing-page-form(action="/room") 
        h1.landing-page-form__title Найдем номер под ваши пожелания
        .landing-page-form__dates
            .input-wrapper
                h3(class="input-title") Прибытие
                input(class="input-type-two landing-page-form__date landing-page-form__date--start" placeholder="дд.мм.гггг")
                img(src=require("../assets/img/arrow-down.svg"), alt="")
            .input-wrapper
                h3(class="input-title") Выезд
                input(class="input-type-two landing-page-form__date landing-page-form__date--end" placeholder="дд.мм.гггг")
                img(src=require("../assets/img/arrow-down.svg"), alt="")

            .date-panel
                .date-panel__header 
                    button(type="button").date-panel__header-btn.date-panel__header-btn--left
                        img(src=require("../assets/img/arrow-right.svg"), alt="")
                    h2.date-panel__header-title Август 2019
                    button(type="button").date-panel__header-btn.date-panel__header-btn--right
                        img(src=require("../assets/img/arrow-right.svg"), alt="")
                .date-panel__week
                    .date-panel__week-item Пн 
                    .date-panel__week-item Вт
                    .date-panel__week-item Ср
                    .date-panel__week-item Чт
                    .date-panel__week-item Пт
                    .date-panel__week-item Сб
                    .date-panel__week-item Вс
                .date-panel__days 
                    .date-panel__days-item test
                .date-panel__btns 
                    button.date-panel__btns-clear очистить
                    button.date-panel__btns-access применить
        .input-wrapper 
            h3(class="input-title") гости
            input(class="input-type-two landing-page-form__date", type="text", placeholder="Сколько гостей")
            img(src=require("../assets/img/arrow-down.svg"), alt="")
        
        +btn-type-two("landing-page-form__submit landing-page-form__element", "войти")(type="submit")
    
    span.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения